body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.table-meta{
	background-color: #bdbdbd !important;
}

.spinner-h1{
	margin-left: 10pt;
}

.spinner-button{
	margin-left: 10pt;
}

.footer {
	clear: both;
	border-top: 1px solid #bbb;
	font-size: 0.9em;
	color: #aaa;
	padding: 5px;
	margin-top: 20px;
	text-align: center;
	background: #fff;
}

.entries{
	padding-right: 10px;
}